[submodule "tmux/.tmux/plugins/tmux-fzf"]
	path = tmux/.tmux/plugins/tmux-fzf
	url = https://git::@github.com/sainnhe/tmux-fzf
[submodule "tmux/.tmux/plugins/tpm"]
	path = tmux/.tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/Mequam/nvim-config.git
[submodule "awesome/.config/awesome"]
	path = awesome/.config/awesome
	url = https://github.com/Mequam/awesome-config.git
[submodule "dotfiles"]
	path = dotfiles
	url = https://github.com/Mequam/dotfiles.git
